.container{
    display: flex;
    justify-content: space-between;
}
.details{
    display: flex;
    align-items: center;
}
.image
{
    max-width: 150px;
}
.totalcontainer{
    text-align: center;
}