.imgg{
    height: 80px;
    width: 220px;
}
.div{
    display: flex;
    justify-content: space-around;
   
 
}
.main{
    background-image: url(../media/background\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.pick{
    margin-top: 2rem;
}
.pick1{
    margin-top: 1.8rem;
    height: 40px;
    width: 120px;
    color: white;
    background-color:  rgb(69, 176, 115);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pick2{
    margin-top: 1.8rem;
    height: 40px;
    width: 80px;
    color: white;
    background-color: rgb(69, 176, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
select{
   margin-top: 1.8rem;
    width: 200px;
    height: 40px;
    color: green;
   border-radius: 3px;
   border: 1px solid green;
}

.headingtext{
    margin-top: 10rem;
    margin-left:22rem;
    font-size: 60px;
    font-weight: bold;
}
.headingg
{
 font-size: 20px;
    margin-left:27rem;
    margin-top: 1rem;
    
}
.inp{
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left:25rem;
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
    border: 1px solid rgb(69, 176, 115);
}
.submit{
   
        width: 100px;
        height: 46px;
        margin-left:69rem; 
        position: absolute;
        top: 446px;
        background-color: rgb(69, 176, 115);
        color: white;
        font-weight: bold;
        border: none;
        font-size: 15px;
        border-radius: 5px;
}




.productCard{
 height: auto;
 width: 300px;
 border: 1px solid;
 border-radius: 10px;
 box-shadow: 5px 5px 10px  grey;


}
.productCard:hover{
    transform: translateY(-5px);
}

.image{
height: 200px;
width: 200px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    position: relative;
}
.Appp{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    row-gap: 1rem;
   justify-content: space-evenly;
   column-gap: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
  
} 
.minusSymbol,.addSymbol{
display:flex ;
justify-content: center;
align-items: center;
height: 30px;
width: 30px;
border: 1px solid;
background-color: rgb(252, 245, 245);
font-size: 20px;
border-radius: 2px;
} 
.minusSymbol:hover{
    background-color:rgb(69, 176, 115);
}
.addSymbol:hover{
    background-color:rgb(69, 176, 115);
}
.addText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 220px;
    border: 1px solid;
    background-color: hwb(0 91% 9%);
    border-radius: 3px;
   
}
.addText:hover{
    background-color: rgb(69, 176, 115);
}

.salePrice{
    font-weight: bold;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.priceContainer{
    display: flex;
    justify-content:center;
    gap: 1rem;
    align-items: center;
}
.addToCart{
    display:flex ;
    justify-content:space-evenly;
    align-items: center;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.discount{
    margin-left: 16rem;
    background-color: green;
    border-radius: 6px;
    color: white;
    position: absolute;
    padding: 3px;
} 






@media screen and (min-width: 600px)  and (max-width: 600px) {
   div.headingtext{
      font-size: 80px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
  }